.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label{
    font-size: 20px;
}

.form-group input{
    width: 30rem;
    height: 3rem;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #e6e6e6;
}

.form-group button{
    width: 30rem;
    border: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #003785;
    color: #f8f8f8;
    font-size: 20px;
}

.form-group button:hover{
    cursor: pointer;
}