.main-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frase-login {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.frase-login span {
    font-size: 3vw;
    color: #003785;
    font-weight: bold;
}

.img-login {
    width: 35vw;
}

.rigth-login {
    width: 60vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 2100px) {

    .main-login {
        flex-direction: column;
    }

    .left-login {
        flex-direction: row;
        width: 100vw;
        height: auto;
    }

    .rigth-login {
        width: 100vw;
        height: 60vh;
        align-items: start;
    }

}

@media (max-width: 1280px) {

    .frase-login {
        display: none;
    }


}

@media (max-width: 800px) {

    .img-login{
        display: none;
    }

}