.container-form {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 1.8vh;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5vw;
}

.header-form {
    font-size: 2vw;
    color: #003785;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
    flex-direction: column;
}

.form-group label {
    font-size: 1.2vw;
    padding-bottom: 0.3vw;
}

.form-group input {
    height: 4vw;
    width: 55vw;
    border: 0;
    padding: 1vw;
    border-radius: 0.7vw;
    font-size: 0.9vw;
    background-color: #e6e6e6;
    text-decoration: none;
}

.form-group input:focus {
    outline: none;
}

.form-group button {
    font-size: 1.2vw;
    border: 0;
    border-radius: 0.7vw;
    background-color: #003785;
    color: #f8f8f8;
    height: 4vw;
}

.form-group button:hover {
    cursor: pointer;
}

.login-form {
    display: flex;
    justify-content: center;
}

.login-form span {
    font-size: 1.2vw;
    margin-right: 0.5vw;
}

.link-login {
    font-size: 1.2vw;
    color: #1E90FF;
}

.erro-form span{
    font-size: 1.2vw;
    color: red;
}

.sucesso-form span{
    font-size: 1.2vw;
    color: green;
}

@media (max-width: 600px){
 
    .container-form {
        border-radius: 1vh;
        padding: 3vh;
    }
    
    .header-form {
        font-size: 3.5vh;
    }
    
    .form-group {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    
    .form-group label {
        font-size: 2vh;
        padding-bottom: 0.3vh;
    }
    
    .form-group input {
        height: 6.5vh;
        width: 75vw;
        padding: 1vh;
        border-radius: 0.7vh;
        font-size: 1.5vh;
    }
    
    .form-group button {
        font-size: 2vh;
        border-radius: 0.7vh;
        height: 6.5vh;
    }
    
    .login-form span {
        font-size: 1.8vh;
        margin-right: 0.5vh;
    }
    
    .link-login {
        font-size: 1.8vh;
    }
    
    .erro-form span{
        font-size: 1.8vh;
    }
    
    .sucesso-form span{
        font-size: 1.8vh;
    }

}